.feed {
    flex: 0.6;
    border-right: 2px solid aliceblue;
    min-width:70%;
    overflow-y: scroll ;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.titlefeed{
    margin-bottom: 8px;
}

.fedd::-webkit-scrollbar{
    display: none;
}

.headerfeed{
    position: sticky;
    background-color: white;
    top : 0;
    z-index: 100;
    border-bottom: 2px solid aliceblue;
    /* border-left: 2px solid aliceblue; */
    padding: 5px 15px;
}
