.feed {
    flex: 0.6;
    border-right: 2px solid aliceblue;
    min-width: fit-content;
    overflow-y: scroll ;
}

.headerfeed{
    margin-bottom: 5px;
    border-bottom: 2px solid aliceblue;
}