.follow{
    flex: 0.6;
    border-right: 2px solid aliceblue;
    min-width:70%;
    border: 1px solid aliceblue;
    overflow-y: scroll ;

}

.follow > h1{
    color: lightcoral;
}

.person {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-bottom: 2px solid aliceblue;
    padding-bottom: 10px;
}

.person > h4 {
    color: lightcoral
}