.loginpage{
    width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bienvenue{
    display: block;
    border: solid 1px pink;
    background-color: pink;
    margin: 20px;
    padding-bottom: 12px;
    border-top-left-radius: 8px;
    border-start-end-radius: 8px;
}

.birdy{
    color:coral;
    text-align: center;
    font-style: oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    max-width: auto;
    max-height: auto;
    height:50px;
    text-align: center;
    margin:auto;
    display: flex;
    padding-bottom: 30px;

}
  
.form_login {
    position:relative;
    bottom:21px;
    display: block;
    text-align: center;
    /* padding: 5px; */
    border: solid 1px pink;
    background-color: pink;
    margin: 20px;
    padding-bottom: 12px;
    border-end-end-radius: 8px;
    border-end-start-radius: 8px;
    padding-bottom: 15px;
}

input{
    padding: 8px;
    margin-bottom: 10px;
    border:1px solid pink;
    border-radius: 8px;
}
  

  
.button{
    background-color: coral;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid coral;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }
  
.inscription{
    display: block;
    border: solid 1px pink;
    background-color: pink;
    margin: 20px;
    padding-bottom: 12px;
    border-radius: 8px;
}
.txt{
    font-size: smaller;
    text-align: center;
} 

.log_signup{
    color: white;
    font-weight: bold;
    margin-left: 30%;
} 
.err_username{
    font-size: smaller;
    text-align: center;
    color:red;
    padding-bottom: 10px;
}

.errorlogin {
    font-size: smaller;
    text-align: center;
    color: red;
}

  