.message{
    display: flex;
    align-items:flex-start;
    border-bottom: 2px solid aliceblue;
    padding-bottom: 10px;
}

.message_header{
    font-size: 12px;
    color: lightcoral
}

.message_body{
    flex: 1;
    padding: 10px;
}

.message_avatar{
    padding: 20px;
}

.message_footer{
    display: flex;
    justify-content: space-between;
}