.userprofil{
    flex: 0.2;
    border-right: 2px solid aliceblue;
    min-width: fit-content;
    border: 1px solid red;
    overflow-y: scroll ;

}
.headerpage{
    border: 1px solid;
    padding: 50px;

}
#profilimage {
    position: relative;
    bottom:55px;
    left:40px;
    max-width: auto;
    max-height: auto;
    height: 100px;
    margin: 12px;
}

.infos{
    border: 1px solid blue;
}